body{
    background-color: rgb(107, 255, 255);
}

h1{
    color: brown;
}

#show_sketch{
    float:right;
}

canvas{
    border:5px solid coral;
    border-radius:20px ;
    animation-name:example ;
    animation-duration: 4s;
    margin-top:50px ;
    animation-iteration-count: infinite;

}

@keyframes example{
    from{box-shadow:1px 1px 38px royalblue;}
    to{box-shadow:1px 1px 38px rosybrown ;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}